# podlet-web.container

# This file was converted from the docker-compose! (Although the "build: ." part had to be removed)

# To build this container, run: buildah build

[Container]
# These two can be omitted as they are the default setting
Environment=ROCKET_ADDRESS=0.0.0.0 ROCKET_PORT=80
Image=localhost/podlet-web
PublishPort=8080:80

[Service]
Restart=always
